.tool-card{
    align-items: center;
    flex: 0 0 calc(100% / 3 - 54px);
    background-color: #111111;
    border-radius: 5px;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    h3{
        margin: 0px;
        padding: 0px;
        padding-left: 25px;
        font-weight: 500;
        font-size: 17px;
    }
}


@media (max-width: 768px){
    .tool-card{
          flex: 0 0 calc(100% - 35px);
          justify-content: center;
    }
}