header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        color:#EEEEEE;
        font-size: 1rem;

        a{
            text-decoration: none;
            color:inherit;
        }
    }

    nav ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        color:#B4B4B4;

        a{
            text-decoration: none;
            color:#B4B4B4;
            padding: 10px;
            transition: 0.3s;
            font-size: .875rem;
            &:hover{
                color: #EEEEEE;
            }
        }
    }

    img{
        &:hover{
            cursor: pointer;
        }
    }

    .sun-icon{
        filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(980%) hue-rotate(180deg) brightness(89%) contrast(79%);
    }

}