.company-card{
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0px;


    h3{
        margin: 0px;
        font-weight: 500;
    }

    p{
        margin: 0px;
    }

    .companyLocation{
        margin-top:10px;
    }

    img{
        object-fit:cover;
    }

    .duration{
        text-align: right;
    }

}

@media (max-width: 768px){
    .company-card{
        flex-direction: column;
        .d-flex{
            width: 100%;

        }

        .duration{
            padding-left: 80px;
            padding-top: 5px;
        }
    }
  }